	/* Propiedad para crear efecto de transicion con efecto onmouseout onmouseover con jquery en imagen perfil*/
	header img{
		transition: all 0.2s linear 0s;
	}
	/* Transicion para iconos */
	.fa-twitter, .fa-bitbucket, .fa-arrow-circle-o-down{
		transition: all 0.2s linear 0s;
	}
	/* Animacion de la flecha de bottom */
	.fa-arrow-circle-o-down{
		-webkit-animation-duration: 2s;
		-webkit-animation-delay: 2s;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-duration: 2s;
		-moz-animation-delay: 2s;
		-moz-animation-iteration-count: infinite;
	}
	/* Propiedades para el nombre de developer */
	.contenedorPerfil h1{
		line-height: 0.8;
		font-size: 2.8em;
		color: white;
		font-family: 'Roboto', sans-serif;
	}
	/* clase container-fluid de bootstrap, quitando los paddings laterales */
	.container-fluid{
		padding: 0px 0px 0px 0px;
	}
	/* Reglas generales para la pagina */
	html,body{
		height: 100%;
		margin: 0;
	}
	/* Propiedades especificas para h1 de la pagina */
	h1{
		font-family: 'Roboto', sans-serif;
		font-size: 2.8em;
		color: #862424;
	}
	h1::after{
		content:"";
	}
	/* Propiedades especificas para p de la pagina */
	p{
		font-family: 'Open Sans', sans-serif;	
		font-size: 1.5em;
		line-height: 1.8;
	}
	/* Contenedor que englobara la parte superior con un height del 100% */
	.contenedor{
		height: 100%;
	}
	/* Contiene imagen background de fondo para crear efecto parallax */
	.cabecera{
		width: 100%;
		min-height: 100%;
		background: url(imagenes/1.jpg);
		position: relative;
		display: block;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: 0 0;
		text-align: center;
	}
	/* Contenedor que engloba la imagen, nombre y iconos, centrado en el medio */
	.contenedorPerfil{
		padding-top: 0px;
	    padding-right: 50px;
	    padding-bottom: 0px;
	    padding-left: 50px;
	    box-sizing: border-box;
		position: absolute;
		text-align: center;
		z-index: 2;
		width: 100%;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
	}
	/* Propiedades de la imagen de Perfil */
	.imagenPerfil{
		width: 30%;
		position: relative;
		max-width: 230px;
		min-width: 170px;
		filter: sepia(90%);
	}
	/* capa de filtro que se le añade por encima para darle una opacidad a la imagen */
	.filtro{
		position: absolute;
		background-color: #5c5252;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		opacity: 0.5;
		z-index: 1;
	}
	/* Distancia entre el nombre y la imagen */
	.nombre{
		margin-top: 30px;
	}
	/* Distancia entre los iconos y Developer */
	.lista{
		margin-top: 30px;
	}
	.fa-twitter, .fa-bitbucket, .fa-arrow-circle-o-down{
		color: white;
		font-size: 40px;
	}
	/* Estilo para los links del header*/
	a:link{
		text-decoration: none;
	}
	a:hover .fa{
		color: tomato;
	}
	a:active .fa{
		color:red;
	}
	.flecha{
		position: absolute;
		bottom: 20px;
		z-index: 2;
	}
	.mostrar{
		display: none;
	}
	/* CONTENIDO DEL MAIN */
	/* ACERCA DE MI */
	.main{
		text-align: center;
	}
	.parrafoDescripcion{
		text-align: left;
	}
	.espacioParrafoDescripcion{
		padding-left: 50px;
	}
	.espacioParrafoDescripcion1{
		padding-right: 50px;
	}

	/* SKILLS */
	.contenedorSkills{
		background-color: #F3F3F3;
	}
	.medidas{
		width: 70%;
	}
	.margenTop{
		margin-top: 7%;
	}
	.iconos{
		position: relative;
	}
	/* Icono de flecha brujula */
	#brujula{
		position: absolute;
		right: 0px;
		top: 0px;
		left: 0px;
		bottom: 0px;
		margin: auto;
		width: 15%;
		height: 15%;
		cursor: pointer;
		z-index: 2;
		transition: 2s ease;
		-webkit-transition: 2s ease;
		-moz-transition: 2s ease;
	}
	.listaMain li{
		display: inline-block;
		margin: 10px;
		padding: 10px 10px 10px 10px;
		font-size: 1.5em;
		font-weight: bold;
		color: white;
		background-color: #FF6D6D;
		transition: 2s ease;
		-webkit-transition: 2s ease;
		-moz-transition: 2s ease;
	}
	/* Clases que aplicamos con jquery a traves de la funcion addClass */
	.girando{
	}

	.listaMenuTransform{
		box-shadow: 10px 10px 5px #888888;
		-moz-transform: scale(1.3,1.3);
		-webkit-transform: scale(1.3,1.3);
	}

	/* Media querys */
	@media screen and (max-width: 768px) {
	    .contenedorPerfil h1 {
	        font-size: 1.5em;
	        line-height: 0.8;
	    }
	}
	@media screen and (max-width: 768px) {
	 	.cabecera{
	    	background-position: -400px 0;
	    }   
	}
	@media screen and (max-width: 768px) {
	 	.fa-twitter, .fa-bitbucket, .fa-arrow-circle-o-down{
	    	font-size: 25px;
	    }   
	}
	@media screen and (max-width: 768px) {
	 	.listaMain li{
	 		font-size: 0.9em;
	    	width: 30%;
	    	padding: 2px 2px 2px 2px;
	    }   
	}